@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-in {
  0% {
    transform: scale(0.5) translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) translateY(20px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
.hover-shadow{
  @apply hover:shadow-md hover:shadow-gray-400
}
img {
  @apply max-w-full max-h-full;
}
.box {
  @apply w-3/4 p-4 m-auto my-8 bg-sky-100 flex flex-col gap-4 shadow-xl shadow-gray-300;
}
.btn {
  @apply text-white p-2 rounded m-2 hover-shadow;
}
.action_button {
  @apply text-white p-2 rounded mx-4;
}

.bordered {
  @apply border border-gray-500;
}

.logo-bounce {
  animation: bounce-in 1.2s ease-out forwards;
}

.buttonStyle {
  @apply flex bg-sky-500 w-20 justify-center text-white p-2 rounded m-2 shadow-md shadow-black;
}

.button-bounce {
  animation: bounce-in 1.2s ease-out forwards;
}

.form-box {
  @apply h-full w-80 sticky m-auto  flex flex-col justify-center bg-white p-10 shadow-2xl transform transition-all duration-300;
}

.form-input {
  @apply w-full p-2 border border-gray-300 rounded;
}

.navbar_blocks {
  @apply flex justify-between items-center;
}

.navbar_buttons {
  @apply btn bg-sky-500;
}

.blue-button {
  @apply btn bg-sky-500 px-4 py-2;
}

.red-button {
  @apply btn bg-red-400 px-4 py-2;
}

.error-message{
  @apply text-red-600
}

.error-message-box{
 @apply bg-red-200 shadow-sm shadow-slate-400
}